/*! main-window-right-list */
.QListWidget {
  color: black;
  border: 1px solid gray;
}

.QListWidget::item {
  height: 20px;
}

.QListWidget::item:hover {
  show-decoration-selected: 5;
  background: skyblue;
}

.QListWidget::item:selected {
  /*border:0px;*/
  background: lightgray;
  padding: 0;
  margin: 0;
  color: red;
}

/* 为防止报错_为!的别名 */
.QListWidget::item:selected:_active {
  border-width: 0;
  background: lightgreen;
}
