#main-window-right-list {
  $width: '20px';
  $height: 30px;

  .QListWidget {
    color: black;
    border: 1px solid gray;

    ::item {
      height: 20px;

      :hover {
        show-decoration-selected: 5;
        background: skyblue;
      }

      :selected {
        /*border:0px;*/
        background: lightgray;
        padding: 0;
        margin: 0;
        color: red;

        /* 为防止报错_为!的别名 */
        _active {
          border-width: 0;
          background: lightgreen;
        }
      }
    }
  }
}

